<div class="bg-primary-danger upper-part-bg">

</div>
<div class="container-fluid mt--10 h-65">
    <form [formGroup]="form"  (ngSubmit) = 'addCategoryRequest()'>
        <!-- <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Category Name</mat-label>
            <input matInput type='text' formControlName='name'/>
        </mat-form-field> -->
        <div class="input-group mb-3">
            <div class="form-group ml-10">
              <input type="text" class="form-control" formControlName='name' placeholder="輸入分類">
            </div>

            <div class="input-group-prepend">
                <button type ='submit' class="btn btn-primary" [disabled] = '!this.form.valid'>
                    建立類別
                </button>
            </div>
          </div>
    </form>
    
    <table mat-table [dataSource]="catList" class="mat-elevation-z8">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">
                  暫時沒有數據
            </td>
          </tr>
          <th mat-header-cell *matHeaderCellDef> 分類名稱 </th>
          <td mat-cell *matCellDef="let element">
              {{element.name}} 
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    </table>
</div>



