<div class="main-content">
    <nav class="bg-primary-danger container-h">
      <div class="container col-lg-8">
          <img src="../../../../assets/img/logo.png" style="max-height: 50px;"/>
      </div>
    </nav>
    <div class="bg-primary-danger">
        <div class="container-fluid">
          <div class="header-body text-center">
            <div class="row justify-content-center">
              <div class="col-lg-5 col-md-6 mb-5 mt-5">
                <h1 class="text-white">歡迎</h1>
                <p class="text-lead text-light">透過本登入平台，即可新增文章及閱覽相關資源。 </p>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="bg-primary-danger mb-7">
        <svg x="0" y="0" viewBox="0 0 2560 150" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
          <polygon points="2560 0 2560 150 0 150"></polygon>
        </svg>
    </div>

    <router-outlet></router-outlet>

  </div>
  <footer class="py-5 footer">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-xl-start">
        <div class="col-xl-3">
          <div class="copyright text-center">
            &copy; 2022 WoodRex
          </div>
        </div>
        <div class="col-lg-5">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="https://suriyel.eth.xyz/" class="nav-link" target="_blank">About Me</a>
            </li>
            <li class="nav-item">
              <a href="https://suriyel.eth.link/" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link" target="_blank">License</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>